---
Checks:          '*,-llvmlibc-restrict-system-libc-headers,-altera*,-readability-identifier-length,-hicpp-signed-bitwise,-bugprone-narrowing-conversions,-cppcoreguidelines-narrowing-conversions,-cert-err33-c,-llvm-header-guard,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-clang-analyzer-optin.core.EnumCastOutOfRange,-bugprone-easily-swappable-parameters,-android-cloexec-accept,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-cppcoreguidelines-avoid-non-const-global-variables,-misc-include-cleaner,-clang-diagnostic-c23-extensions'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: 'sqlite3\.h|yyjson\.h'
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '65'
FormatStyle:     none
User:            ssleert
SystemHeaders:   false
...
